{% extends "base.html" %}

{% block content %}
        <div class="mb-3">
            {{ form.password_new_forgot.label }}
            {% if form.password_new_forgot.errors %}
                {{ form.password_new_forgot(class='is-invalid form-control') }}
                <div class="invalid-feedback">    
                    {% for error in form.password_new_forgot.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password_new_forgot() }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.pass_confirm_forgot.label }}
            {% if form.pass_confirm_forgot.errors %}
                {{ form.pass_confirm_forgot(class="is_invalid form-control") }}
                <div class="invalid-feedback">    
                    {% for error in form.pass_confirm_forgot.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.pass_confirm_forgot() }}
            {% endif %}
        </div>
        {{ form.submit() }}

    </form>
{% endblock %}