{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('user.change_password', user_id=user.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.password_old.label }}

            {% if form.password_old.errors %}
                {{ form.password_old(class='is-invalid form-control') }}
                <div class="invalid-feedback">
                    {% for error in form.password_old.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                <div>
            {% else %}
                {{ form.password_old() }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password_new.label }}

            {% if form.password_new.errors %}
                {{ form.password_new(class='is-invalid form-control') }}
                <div class="invalid-feedback">    
                    {% for error in form.password_new.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password_new() }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.pass_confirm.label }}

            {% if form.pass_confirm.errors %}
                {{ form.pass_confirm(class="is_invalid form-control") }}
                <div class="invalid-feedback">    
                    {% for error in form.pass_confirm.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.pass_confirm() }}
            {% endif %}
        </div>
        {{ form.submit() }}
    </form>
{% endblock %}