{% extends "base.html" %}
{% block content %}
<div class='row'>
    <div class='col-12'>
        <center><h1>Востановление пароля</h1></center>
        <form action="{{ url_for('user.forgot') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class='form-group'>
                {{ form.email.label }}
                {{ form.email() }}
            </div>
            {{ form.submit() }}
              
        </form>
    </div>
    <div class='col-0'>
    </div>
</div>
{% endblock %} 
