{% block content %}
<nav class="navbar navbar-light" style="background-color: #b7abd1;">
  <a class="navbar-brand" href="#">ТОРТИКИ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ url_for('index')}}">Главная страница </a>
      <a class="nav-item nav-link" href="#">Корзина</a>
      {% if current_user.is_authenticated %}
        <a class="nav-item nav-link" href="{{ url_for('user.user_profile', user_id=current_user.id)}}">Профиль</a>
        <a class="nav-item nav-link" href="{{ url_for('user.logout')}}">Выйти из профиля</a>
      {% else %}
        <a class="nav-item nav-link" href="{{ url_for('user.login')}}">Войти в профиль</a>
        <a class="nav-item nav-link" href="{{ url_for('user.register')}}">Регистрация</a>
      {% endif %}


    </div>
  </div>
</nav>
{% endblock %}