{% extends "base.html" %}
<!-- totals - необходим для подсчете итоговой суммы заказа
     ns - это счетчик, показывающий номер строки с товаром в таблице -->
{% set totals = [] %}
{% set ns = namespace(c = 0) %}
{% block content %}
<form method="POST">
<div class="row row-cols-1 row-cols-md-2 g-4">

  <h4>Корзина заказа {{ order.id }}</h4>
      <table class="table table-striped table-bordered table-hover table-sm table-responsive">
        <!-- <caption>Заказ {{ order.id }} Пользователь {{ order.user.id }} </caption> -->
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Фото</th>
            <th scope="col">Товар</th>
            <th scope="col">Цена </th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
          </tr>
        </thead>
        <tbody>

      {% for line in order.line %}
      {% if line.line_status[-1].status_id == 1 %}
          {% set ns.c = ns.c + 1 %}
        <tr>
          <th scope="row">{{ ns.c }}</th>
          <td width="15%">
            <a href="/product/{{ line.product.id }}">
              <img src="../static/{{ line.product.image.link }}"  class="img-fluid img-thumbnail max-width: auto; and height: 100%;"></a></td>
          <td>
            <h6>{{ line.product.name }}</h6>
            <p>{{ line.product.description }}</p>
            <!-- <p>{{line.line_status[-1].status.name}}</p> -->
          </td>
          <td>{{ '%0.0f' | format(line.total_cost) }} руб.</td>
          <td>
            <div class="form-outline" style="width: 4rem;">
              <input  name="new_quantity.{{line.quantity}}.{{line.id}}" value={{line.quantity}} type="number" id="typeNumber" class="form-control" min="0" max="10" />
            </div>
          </td>
          <td>{{ '%0.0f' | format(line.total_cost * line.quantity) }} руб.</td>
        </tr><!-- END TR-->
        {% if totals.append(line.total_cost * line.quantity) %}{% endif %}
        {% endif %}
      {% endfor %}
      <tr>
        <td colspan="5" align="right">Итого</td>
        <td>{{ '%0.0f' | format(totals | sum) }} руб.</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-secondary" type="submit">Пересчитать</button>
    <button class="btn btn-outline-secondary" type="submit">Оформить заказ</button>
</div>
</form>
{% endblock %}
