{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('product.catalog') }}">Назад</a>
      <h4>{{ product.name }}</h4>
          <div class='col-12'>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                  {{ message }}<br>
                {% endfor %}
              </div>
              {% endif %}
            {% endwith %}
          {% for image in images %}
            <img src="../static/{{ image.link }}" class="img-fluid max-width: 100%; height: auto;"></a>
          {% endfor %}<br><br>
          <h5>{{ product.description }}</h5>
          <h5>Время изготовления (часов): {{ production_time }}</h5>
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
              aria-controls="collapseExample">
              Компоненты
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <ul>
                {% for component in components_list %}
                <li>{{ component }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h4>Цена {{ product_cost }} рублей</h4>

        </div>
{% endblock %}