{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-8'>
            <h3>Адрес почты:</h3>
            <h3>{{ user.email }}</h3>
            <br />
            <h3>Адрес доставки:</h3>
            {% if adress %}
                <h4>г. {{ adress.city }}, р-он {{ adress.district }}, ул. {{ adress.street }}, д. {{ adress.home }}, кв. {{ adress.apartment }}</h4>
            {% else %}
                <h4>Укажите адрес доствки</h4>
            {% endif %}
        </div>
        <div class='col-4'>
            <a href="{{ url_for('edit_profile', user_id=user.id) }}" class="btn btn-light btn-sm" role="button">Изменить адрес доставки</a>
        </div>
    </div>
{% endblock %}
        



